@charset "utf-8";
/*CSS Document*/

/*Reset*/

* {
	margin: 0 auto;
	
}



header {
	width: 100%;
	height: 270px;
	text-align: center;
	font: bold 30px bodoni;

}

#house {
	position: absolute;
	padding: 20px;
	
}


h1 {
	padding: 20px;
	font-family: granjon, roboto, helvetica;
	font-weight: normal;
	font-size: 30px;
	color: white;
	background-color: black;

}

#menu {
	position: absolute;	
	padding: 20px;
	width: 100%;
	font-family: roboto, helvetica;
	font-weight: normal;
	font-size: 30px;
	word-spacing: 40px;
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#tableau {
	position: absolute;
	width: 100%;
	top: 150px;
	
	
}

footer {
	position: absolute;
	bottom: -380px;
	width: 100%;
	padding: 20px;
	background-color: black;
	text-align: center;
	color: white;
}